/* Reset CSS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clear{
	clear: both;
}
.row{
	margin-right: -8px;
	margin-left: -8px;
}
.col{
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}
.col-half{
	width: 50%;
}
.col-full{
	width: 100%;
}
html{
	font-family: arial;
	font-size: 14.5px;
	scroll-behavior: smooth;
}
header{
	background-color: black;
	height: 46.5px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
}
nav{
	display: inline-block;
}
nav li{
	display: inline-block;
	position: relative;
}
nav li:hover {
	background-color: #ccc;
}
nav li:hover a{
	color: black;
}
nav li a{
	text-decoration: none;
	color: white;
	line-height: 46.5px;
	padding-right: 24px;
	padding-left: 24px;
}
nav li:hover .subnav{
	display: block;
}
nav .subnav{
	background-color: white;
	display: none;
	position: absolute;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	min-width: 160px;
}
nav .subnav li{
	display: block;
}
nav .subnav a{
	color: black;
	padding-left: 16px;
}
nav .nav-arrow-down{
	font-size: 12px;
}
header .search-btn
{

	width: 62px;
	float: right;
	line-height: 46.5px;
	text-align: center;
	cursor: pointer;
}
header .search-btn:hover{
	background-color: red;
}
header .search-icon{
	color: white;
	font-size: 15px;
}
#slider{
	background-image:url("https://www.w3schools.com/w3images/chicago.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	margin-top: 29.5px;
	padding-top: 50%;
	position: relative;
}
#slider .text-content{

	color: white;
	bottom: 48px;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
}
#slider .text-heading{
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 25px;
}
#slider .text-description{
	font-size: 15px;
}
#content .content-section{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 64px;
	padding-bottom: 64px;
}
#content .section-heading{
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: 25px;
}
#content .section-sub-heading{
	font-size: 15px;
	font-family: sans-serif;
	opacity: 0.5;
}
.about-text{
	text-align: justify;
	margin-top: 15px;
	font-size: 15px;
	line-height: 1.4;
}
.team{
	margin-bottom: 60px;
}
#content .band-members{
	margin-top: 48px;
}
#content .member-name{
	font-size: 15px;
}
#content .member-item{
	float: left;
	width: 33.3333333%;
}
#content .member-img{
	border-radius: 5px;
	margin-top: 15px;
	width: 154px;
}
.tour{
	background-color: black;
	color: white;
	padding-bottom: 40px;
}
.tour .tickets-list{
	text-decoration: none;
	margin-top: 40px;
	background-color: white;
	color: black;
	text-align: left;
	line-height: 40px;
}
.tickets-list li{
	height: 40px;
	font-size: 15px;
	padding-left: 16px;
	border-bottom: 1px solid #ccc;
}
.tickets-list .sold-out{
	background-color: #f44336;
	padding: 5px 5px;
	margin-left: 10px;
}
.tickets-list .quantity{
	background-color: black;
	color: white;
	width: 24px;
	height: 24px;
	float: right;
	border-radius: 50%;
	line-height: 24px;
	text-align: center;
	margin-top: 8px;
	margin-right: 15px;
}
.tour .places{
	margin-top: 30px;
	margin-left: -8px;
	margin-right: -8px;
}
.tour .place-item{
	width: 33.3333%;
}
.tour .place-img{
	width: 100%;
	display: block;
}
.tour .place-img:hover{
	opacity: 0.6;
}
.tour .place-description{
	background-color: white;
	text-align: left;
	color: black;
	line-height: 1.4;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.tour .place-time{
	opacity: 0.5;
	padding-top: 15px;
	padding-bottom: 15px;
}
.tour .place-des{
	padding-bottom: 25px;
}
.tour .place-buy-btn{
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 10px 10px;
}
.tour .place-buy-btn:hover{
	background-color: #ccc;
	color: black;
}
.contact{
	margin-top: 48px;
	text-align: left;
}
.contact-info{
	font-size: 18px;
	line-height: 1.4;
}
.contact-info i{
	width: 30px;
	display: inline-block;
}
.contact-form{
	font-size: 15px;
}
.contact-form .info{
	padding: 8px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	width: 100%;
}
.contact-form .submit{
	background-color: black;
	color: white;
	padding: 8px;
	float: right;
	border: none;
	width: 72px;
	height: 38px;
	text-align: center;
	line-height: 100%;
}
.contact-form .submit:hover{
	background-color: #ccc;
	color: black;
	cursor: pointer;
}
.map img{
	width: 100%;
}
footer {
	padding-top: 50px;
	text-align: center;
	opacity: 0.5;
	padding-bottom: 30px;
}
.icon{
	padding-bottom: 20px;
	font-size: 20px;
}
.icon i:hover{
	opacity: 0.5;
}
